<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/template.js}"></script>

    <title>Index_0</title>
</head>
<body class=" container">
<div class="boxShadow">
    <h1 class="text-center ">First Header</h1>
    <h3>Html Text body </h3>
    <h3 th:text="'Thymeleaf Text body'"></h3>
    <h3 th:class="boxShadow" th:text="${static_data}"></h3>
</div>
<form action="" class="form-group">
    <!--    As we know, we are using Thymeleaf which has almost everything for html covered-->
    <!--    instead of typing labels in html known area we put them within Thymeleaf area-->
    <!--    calling properties file's Naming variable-->
    <label th:text="#{firstName}" for="first_Name"></label>
    <input type="text" class="form-control" th:placeholder="#{firstName}" id="first_Name" name="first_Name" required
           autofocus>
    <label th:text="#{lastName}" for="last_name"></label>
    <!-- Does the properties file's naming has affections on how to be displayed -->
    <input type="text" class="form-control" th:placeholder="#{lastName}" id="last_name" name="lastName" required
           autofocus>
</form>
<div>
    <h3 class="center" th:text="'Employee Bean'"></h3>
    <p th:text="${employee}"></p>
</div>
<div>
    <table>
        <tr>
            <td>Student id</td>
            <td>First name</td>
            <td>Last name</td>
            <td>Department</td>
        </tr>
        <tr th:each="emp:${employees}">
            <td th:text="${emp.studentNo}"></td>
            <td th:text="${emp.firstName}"></td>
            <td th:text="${emp.lastName}"></td>
            <td th:if="${emp.department.equals('CMPE') }" th:text="'Computer Engineering'"></td>
            <td th:unless="${emp.department.equals('CMPE') }" th:text="'Other Department'"></td>
        </tr>
    </table>
</div>
<div>
    <p th:text="${id}"></p>
</div>

<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>